.container {
  display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: space-between;
  margin: auto;
   max-width: 888px; 
  font-family: sans-serif;
}
.navbar {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
justify-items: center;
}
.heading {
  color: rebeccapurple;
  text-align: center;
  font-size:2em;
}
.heading1 {
  color: rgb(95, 103, 145);
  text-align: center;
  font-size:3em;
}
.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
flex-wrap: wrap;
  list-style: none;

}
.nav-link-item {
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
flex-direction: row;
flex-wrap: wrap;
margin: 1rem;
  padding: 1rem;
  background-color:rgb(179, 245, 188);
}
.nav-link-text {
  display: flex;
  justify-content: space-between;
  color: black;
  font-size: 2em;
  font-weight: bolder;
  text-align: center;
}


.shopprofilemenusection {

  list-style-type: none;
}

.shopprofilemenulistitem {
margin: 2rem;
  background-color:beige;
  list-style-type: none;
  padding: 2em;
  border-radius: 4em;
}

.shopprofilemenulistitemimg {

  border-radius: 4em;
}

.shopprofilemenusectionheading{
background-color:rgb(127, 170, 41);
  font-size: 2em;
  justify-items: center;
  display: flex;
  justify-content: space-around;
  padding: 1em;
  border-radius: 4em;
}

.buttonzagolovki {
padding: 1em;
  font-size: 1em;
  border-radius: 4em;
  font-weight:bolder;
}

.areadescription {

display: flex;
flex-direction: column-reverse;
justify-items: center;
}

.areaparagraf {
display: flex;
justify-content: space-around;
  text-align: center;
  font-size: 2em;
  font-weight:bolder;
}

.areadivimage {
flex-direction: row-reverse;
  display: flex;
justify-content: space-around;
  justify-items: center;
}

.areaparagraf2 {
  display: flex;
  justify-content: space-around;
    text-align: center;
    font-size: 2em;
    font-weight:bolder;
  }
  .areaparagraf3 {
    display: flex;
    justify-content: space-around;
    margin: 2px;
      text-align: center;
      font-size: 19px;
      font-weight:bolder;
    }
    .navLinkItem2 {
      border-radius: 1rem;
      display: flex;
      justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 4px;
      padding: 2px;
      background-color:rgb(179, 245, 188);
      text-align: center;
      font-size: 14px;
    }
  .pricebutton{
display: flex;
    width: 22em;
    flex-direction: row;
    justify-content: space-around;
    background-color:rgb(192, 216, 208);
    min-height: 4em;
    justify-items: center;
border-radius:2em;
  }

  .span{
padding: 0.3em;
    display: flex;
    font-size: 2.2em;
font-weight: bold;
  }

  .papa{
margin: 2px;
    font-size: 19px;
  }
 .colo {
justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color:aquamarine;
  border-radius:2em;
  padding: 2px;
margin: 9px;
 }
 .gogo {
background-color:rgb(95, 210, 141);
font-size: 2em;
padding: 12px;
margin: 12px;
border-radius:1em;
 }
 .tot {
  border-radius:4em;
  padding: 12px;
  margin: 12px;

 }